<!--List of Products for use in My Store page-->
<h2>Products</h2>

<div *ngFor="let product of products">
  <!--Product's Name with link to respective page(?)-->
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>

  <!--Product's Description-->
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <!--Dumb social media BS share button-->
  <button type="button" (click)="share()">
    {{ product.name.includes('Big Dick Phone') ? 'Harder Daddy' : 'Share' }}
  </button>

  <!--Poor person button for notification of sales.-->
  <app-product-alerts
    [product]="product"
    (notify)="onNotify()"
  ></app-product-alerts>
</div>
